[Desktop Entry]
Name=SecretBox
Comment=Launch SecretBox
Exec="/home/sylvie/Documents/01_Documents Slb/01-Journaling/SecretBox/secretbox.sh"
Icon="/home/sylvie/Documents/01_Documents Slb/01-Journaling/SecretBox/static/images/logo_sb.png"
Terminal=false
Type=Application
Categories=Utility;Application;
