{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="main-screen">

    {% include "base/logo_header.html" %}

    <!-- Pastille for new position -->
    <a href="{% url 'escapevault:add_position' %}" class="round-hicon">
        <img src="{% static 'icons/add.png' %}" alt="Nouvelle position" class="w-8 h-8">
    </a>

    <!-- Display error message if it exists -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <ul>
        {% for pos in positions %}
        <li class="position-item">
            <div class="position-name flex-container">

                <!-- Lien vers le site internet -->
                {% if pos.link_to_site %}
                    <a href="{{ pos.link_to_site }}" class="name-text" target="_blank" rel="noopener noreferrer">{{ pos.name }}</a>
                {% else %}
                    <span class="name-text">{{ pos.name }}</span>
                {% endif %}

                <div class="action-icons">
                    <!-- Pastille for edit position -->
                    <a href="{% url 'escapevault:edit_position' pk=pos.pk %}" class="round-hicon">
                        <img src="{% static 'icons/edit.png' %}" alt="Nouvelle position" class="w-6 h-6">
                    </a>
                    <!-- Pastille for delete position -->
                    <a href="{% url 'escapevault:delete_position' pk=pos.pk %}" class="round-hicon">
                        <img src="{% static 'icons/delete.png' %}" alt="Supprimer la position" class="w-6 h-6">
                    </a>
                </div>
            </div>

        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}