{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="main-screen">

    {% include "base/logo_header.html" %}
    {% if not entry_exists_today %}
    <a href="{% url 'diarylab:add_entry' %}">
        <img src="{% static 'icons/add.png' %}" alt="Nouveau" class="icon">
    </a>
    {% endif %}

    <!-- Display error message if it exists -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <ul>
        {% for entry in entries %}
        <li class="entry-item">
            <div class="entry-date">
                {{ entry.date|date:"l d F Y" }}
                <div class="action-icons">
                    <a href="{% url 'diarylab:edit_entry' entry.id %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'diarylab:delete_entry' entry.id %}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
            <div class="entry-content">
                {{ entry.content }}
            </div>

        </li>
        {% endfor %}
    </ul>


    {% for year in view.get_years %}
        {% for month in view.get_months %}
        <a href="{% url 'generate_pdf' year month %}">Download {{ year }}-{{ month|stringformat:"02d" }} PDF</a>
        {% endfor %}
    {% endfor %}


</div>

{% endblock %}