.footer {
    display: flex;
    justify-content: center;
    /* Centre le contenu horizontalement */
    align-items: center;
    /* Centre le contenu verticalement */
    position: relative;
    /* Position relative pour permettre le positionnement absolu des enfants */
    padding: 10px;
    /* Ajoute un peu d'espace autour du pied de page */
    width: 100%;
    /* Assure que le pied de page prend toute la largeur */
}

.footer__copyright {
    position: absolute;
    /* Position absolue pour le texte de copyright */
    left: 10px;
    /* Aligne le texte de copyright à gauche */
}

.footer__menu {
    /* Le menu sera centré grâce à la propriété justify-content: center; sur le pied de page */
    text-align: center;
    /* Centre le contenu du menu */
}