/* Style pour le panneau latéral */
.w-16 {
    width: 4rem;
}

.space-y-4>*+* {
    margin-top: 1rem;
}

/* Style pour les pastilles */
.w-8 {
    width: 2rem;
}

.h-8 {
    height: 2rem;
}

.bg-gray-400 {
    background-color: #9ca3af;
}

.rounded-full {
    border-radius: 9999px;
}

.hover\:bg-gray-500:hover {
    background-color: #6b7280;
}

/* Style pour les images dans les pastilles */
.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}