/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title-container {
    width: 100%;
    overflow: hidden;
    /* Assurez-vous que le texte ne dépasse pas du conteneur */
}

a.contact-link {
    text-decoration: none;
    /* Supprime le soulignement par défaut */
    color: inherit;
    /* Utilise la couleur du texte par défaut */
    transition: text-decoration-color 0.3s;
    /* Ajoute une transition pour un effet fluide */
}

a.contact-link:hover {
    text-decoration: underline;
    /* Ajoute un soulignement au survol */
    text-decoration-color: #b36739;
    /* Définit la couleur du soulignement */
}