/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title-container {
    width: 100%;
    overflow: hidden;
    /* Assurez-vous que le texte ne dépasse pas du conteneur */
}