{% load static %}

<!-- Panneau latéral -->
<div class="w-16 p-4 flex flex-col items-center space-y-4">
    <!-- Pastille pour le profil -->
    <a href="{% url 'users:profile' %}"
        class="round-icon">
        <img src="{% static 'images/profile_osynia.png' %}" alt="Profile" class="w-6 h-6">
    </a>

    <!-- Pastille pour Home page -->
    <a href="{% url 'home' %}" class="round-icon">
        <img src="{% static 'images/logo_sb2.png' %}" alt="Tableau de bord" class="w-6 h-6">
    </a>

    <!-- Pastille pour diarylab -->
    <a href="{% url 'diarylab:list_entries' %}"
        class="round-icon">
        <img src="{% static 'images/logo_dl_v02.png' %}" alt="DiaryLab" class="w-6 h-6">
    </a>

    <!-- pastille pour comptaquest -->
    <a href="{% url 'comptas:dashboard' %}"
        class="round-icon">
        <img src="{% static 'images/logo_cq.png' %}" alt="ComptaQuest" class="w-6 h-6">
    </a>

    <!-- pastille pour potionrun -->
    <a href="{% url 'performances:launch' %}"
        class="round-icon">
        <img src="{% static 'images/logo_pr.png' %}" alt="PotionRun" class="w-6 h-6">
    </a>

    <!-- pastille pour escapevault -->
    <a href="{% url 'escapevault:evmap' %}" class="round-icon">
        <img src="{% static 'images/logo_ev.png' %}" alt="EscapeVault" class="w-6 h-6">
    </a>
</div>