<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "base/head.html"%}
        <title>
            {% include "base/title.html"%}
        </title>
    </head>

    <body id="page-top">
        <main>
            <div class="flex">
                {% include "base/header.html"%}
                {% block content %}
                {% endblock content %}
            </div>
            {% include "base/footer.html"%}
        </main>
    </body>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("todo-filter-form");

            if (form) {
                const fields = form.querySelectorAll("input, select");

                fields.forEach((field) => {
                    field.addEventListener("change", () => {
                        form.submit();
                    });
                });
            }
        });
    </script>

</html>