{% load static %}
<link rel="stylesheet" href="{% static 'css/output.css' %}">

{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endcompress %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="fr">

    {% include "base/head.html"%}

    <body id="page-top">       
        <main>
            <div class="flex">
                {% include "base/header.html"%}
                {% block content %}
                {% endblock content %}
            </div>
            {% include "base/footer.html"%}
        </main>
    </body>

</html>