@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

@theme {
    --color-black: #221f1f;
    --color-grey: #7c9786;
    --color-brown: #b36739;
    --color-darkbrown: #4f1b11;
    --color-bleup : #2A3D66;
    --color-or: #FFD700;
    --color-violet: #8A2BE2;
    --color-vert: #2E8B57;
}