@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

@theme {
    --color-primary1: #221f1f;
    --color-primary2: #7c9786;
    --color-brown: #b36739;
    --color-darkbrown: #4f1b11;
}