/* @tailwind directives */
@import "tailwindcss/preflight"
@tailwind utilities;

@import 'tailwindcss';

@theme {
    --color-black: #221f1f;
    --color-grey: #7c9786;
    --color-brown: #b36739;
    --color-darkbrown: #4f1b11;
    --color-bleup : #2A3D66;
    --color-or: #FFD700;
    --color-violet: #8A2BE2;
    --color-vert: #2E8B57;
    --color-taupe: #d7d4d0;
    --color-white: #b2ccc5;
}

@font-face {
    font-family: 'Cinzel';
    src: url("/static/font/Cinzel.ttf");
}

@media (min-width: 640px) {
    .main-screen {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .main-screen {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@layer components {
    .round-icon {
        @apply w-8 h-8 bg-gray-400 rounded-full flex items-center justify-center hover:bg-gray-500;
    }

    .round-hicon {
        @apply w-8 h-8 rounded-full flex items-center justify-center hover:bg-gray-500;
    }

    .button-valider {
        @apply mt-4 font-medium rounded px-5 py-2.5 text-sm bg-brown text-white hover:bg-darkbrown focus:ring-4 focus:ring-or;
    }

    a.round_hicon {
        @apply w-8 h-8 rounded-full flex items-center justify-center transition-colors hover:bg-gray-500;
    }

    a.little-round-hicon {
        @apply w-8 h-8 rounded-full flex items-center justify-center transition-colors hover:bg-gray-500;
    }

    .name-text {
        @apply flex-1 no-underline text-inherit;
    }
    
    a.name-text:hover {
        @apply underline;
        color: #2A3D66;
    }

    .main-screen {
        @apply flex flex-col items-center justify-center pt-4 pb-6 px-4 bg-taupe w-full;
    }

    .button-valider {
        @apply mt-4 outline-none color-white bg-brown font-medium rounded-lg
    }


/* .button-valider {
    margin-top: 1rem;
    outline: none;
    color: white;
    background-color: #654321;

    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.button-valider:hover {
    background-color: #3a2412;
}

.button-valider:focus {
    outline: none;
    box-shadow: 0 0 0 4px #fde047;
    
}

/* Pour le mode sombre*/
/*.dark .button-valider:focus {
    box-shadow: 0 0 0 4px #78350f;
    
} */

}



