{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags i18n %}

{% block content %}
<div class="main-screen">
    {% include "base/logo_header.html" %}
    {% include 'navbar/navbar_sb.html' %}
    <!-- Main content -->
    <div class="w-full">
        <!-- Search form -->
        {% crispy form %}

        <!-- Main content -->
        {% block dashboard_content %}
            <div class="overflow-x-auto overflow-y-auto h-[600px] scrollbar">
                <table class="min-w-full bg-white">
                    <thead>
                        <tr class="sticky top-0 bg-brown-100 text-left">
                            <th class="py-2 px-2 border-b table-header" scope="row">État</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Durée</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Description</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Rendez-vous</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Catégorie</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Qui</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Lieu</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Fréquence</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Planifié</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Priorité</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Fait</th>
                            <th class="py-2 px-4 border-b table-header" scope="row">Note</th>
                            <th class="py-2 px-8 border-b table-header" scope="row">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todos %}
                        <tr id="todo-row-{{ todo.pk }}">
                            <td class="py-2 px-2 border-b">{{ todo.get_state_display }}</td>
                            <td class="py-2 px-4 border-b">{{ todo.duration }}</td>
                            <td class="py-2 px-4 border-b">{{ todo.description }}</td>
                            <td class="py-2 px-4 border-b">
                                {{ todo.get_appointment_display|default_if_none:"" }}
                            </td>
                            <td class="py-2 px-4 border-b">{{ todo.get_category_display }}</td>
                            <td class="py-2 px-4 border-b">{{ todo.who }}</td>
                            <td class="py-2 px-4 border-b">{{ todo.place }}</td>
                            <td class="py-2 px-4 border-b">{{ todo.get_periodic_display }}</td>
                            <td class="py-2 px-4 border-b">{{ todo.get_planned_date_display }}</td>
                            <td class="py-2 px-4 border-b">{{ todo.get_priority_display }}</td>
                            <td class="py-2 px-4 border-b">{{ todo.get_done_date_display }}</td>
                            <td class="py-2 px-4 border-b">{{ todo.note }}</td>
                            <td class="action-icons">
                                <!-- Chip to valide a task-->
                                <button  
                                    class="round-hicon validate-btn"
                                    data-row-id="todo-row-{{ todo.pk }}"
                                    data-url="{% url 'dashboard:mark_done' pk=todo.pk %}"
                                >
                                    <img src="{% static 'icons/coche.png' %}" alt="valide la ligne" class="w-6 h-6">
                                </button>
                                <!-- Chip stopwatch -->
                                <a href="{% url 'home'%}" class="round-hicon">
                                    <img src="{% static 'icons/chrono.png' %}" alt="Nouvelle position" class="w-6 h-6">
                                </a>
                                <!-- Chip for edit a task -->
                                <a href="{% url 'dashboard:edit_todo' pk=todo.pk %}" class="round-hicon">
                                    <img src="{% static 'icons/edit.png' %}" alt="Nouvelle ligne" class="w-6 h-6">
                                </a>
                                <!-- Chip for delete a task -->
                                <form method="post" action="{% url 'dashboard:delete_todo' pk=todo.pk %}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="round-hicon" style="background: none; border: none; padding: 0;">
                                        <img src="{% static 'icons/delete.png' %}" alt="Supprimer la ligne" class="w-6 h-6">
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock dashboard_content %}
    </div>
</div>
{% endblock %}

